<section class="max-w-2xl mx-auto py-12 ">
  <h1 class="text-3xl font-bold mb-4">About</h1>
  <.p>
    Welcome to the About page! Here you can share information about yourself, your website, or your project.
  </.p>
</section>
